@charset "UTF-8";
/*
** 프로젝트에 맞춰 Custom하여 사용하세요
*/
/* Color */
/* sprite image
   : 경로를 분리할지 고정할지 고민됨. 어떤게 편할까여!?


*/
/*
  Breakpoint
  use ex)
  @include respond('mobile') {
    color: blue;
  }
*/
/*
@mixin respond($breakpoints) {
  @if map-has-key($breakpoints, mobile) {
    @media (min-width: map-get($breakpoints, mobile)) {
      @content;
    };
  } @else if map-has-key($breakpoints, tablet) {
    @media (min-width: map-get($breakpoints, tablet)) {
      @content;
    }
  } @else {
    @media (min-width: map-get($breakpoints, desktop)) {
      @content;
    }
  }
}*/
.montserrat {
  font-family: Montserrat, "Noto Sans KR", sans-serif;
  letter-spacing: 0;
}

.fc-red {
  color: #ee2c3c;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 18px;
  color: #101010;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input[type=file] {
  cursor: pointer;
}

textarea {
  font-family: "Noto Sans KR", "Arial", "Apple SD Gothic Neo", sans-serif;
  font-size: 14px;
  color: #333;
}

textarea::-webkit-input-placeholder {
  color: #b4b4b4;
}

textarea:-ms-input-placeholder {
  color: #b4b4b4;
}

input {
  font-family: "Noto Sans KR", "Arial", "Apple SD Gothic Neo", sans-serif;
  font-size: 14px;
  color: #333;
}

input::-webkit-input-placeholder {
  color: #b4b4b4;
}

input:-ms-input-placeholder {
  color: #b4b4b4;
}

html {
  overflow-y: scroll;
} /* @@메인 삭제 */
#app.nav-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#scroll-inner {
  position: relative;
} /* @@메인 삭제 */
.contents {
  box-sizing: border-box;
  width: 1264px;
  margin: 0 auto;
  padding: 0 20px;
}
.contents:before {
  content: "";
  margin-top: -1px;
  height: 1px;
  width: 1px;
  display: block;
}

#scroll-fake {
  visibility: hidden;
  opacity: 0;
}

.transition-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
}

.scrollbar-track {
  display: none !important;
} /* @@메인 삭제 */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
}
@keyframes circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    transform: translate(0, 0);
  }
}
.loading .loading-spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.loading .loading-spinner .circle {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading .loading-spinner .circle div {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ee2c3c;
  left: 74px;
  top: 20px;
  animation: circle 1s linear infinite;
  box-sizing: content-box;
}

.el-dialog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-dialog {
  margin: 0 !important;
}
.el-dialog .el-dialog__header {
  padding: 70px 60px 0 60px;
}
.el-dialog .el-dialog__header .el-dialog__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 18px;
  right: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ee2c3c;
}
.el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
  color: #fff !important;
}
.el-dialog .el-dialog__body {
  padding: 30px 60px 60px;
}

@media print {
  #container {
    position: static;
    height: auto;
    overflow: visible !important;
  }
  #container .magazine-view .page-cont {
    margin-left: 0;
  }
  #scroll-fake {
    display: none !important;
    height: 0 !important;
  }
  header {
    position: static !important;
  }
  .banner-area {
    display: none !important;
  }
}
/* montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/Montserrat-Black.ttf") format("truetype");
}
/* Noto Sans KR */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url("../fonts/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"), url("../fonts/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url("../fonts/NotoSansKR-Bold.woff") format("woff");
}
body {
  font-family: "Noto Sans KR", "Arial", "Apple SD Gothic Neo", sans-serif;
  font-size: inherit;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=email] {
  width: 100%;
  height: auto;
  padding: 12px 10px;
  line-height: 28px;
  border: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
input[type=text]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=email]::-moz-placeholder {
  color: #b4b4b4;
}
input[type=text]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder,
input[type=email]::placeholder {
  color: #b4b4b4;
}

.scrollmagic-pin-spacer {
  position: absolute !important;
}

.sticky-wrap .scrollmagic-pin-spacer {
  width: 100%;
}

.scroll-content {
  will-change: transform;
}

.sticky-wrap {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

.interview .info p strong {
  font-weight: bold;
}

.black {
  color: #000;
}/*# sourceMappingURL=common.css.map */