// 퍼블 화면을 위해 임시로 넣음. 개발시 삭제!! [s]
@import "variables";
@import "mixins";
@import "extend";
// 퍼블 화면을 위해 임시로 넣음. 개발시 삭제!! [e]

@import "reset";
@import "layout";
@import "fonts";

$globalWidth: 1264px;

body {
  font-family: "Noto Sans KR", "Arial", "Apple SD Gothic Neo", sans-serif;
  font-size: inherit;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
input[type="text"],
input[type="url"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  height: auto;
  padding: 12px 10px;
  line-height: 28px;
  border: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  &::placeholder {
    color: #b4b4b4;
  }
}
.scrollmagic-pin-spacer {
  position: absolute !important;
}
.sticky-wrap {
  .scrollmagic-pin-spacer {
    width: 100%;
  }
}
.scroll-content {
  will-change: transform;
}
.sticky-wrap {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

::-webkit-file-upload-button {
  cursor: pointer;
}
.interview {
  .info {
    p {
      strong {
        font-weight: bold;
      }
    }
  }
}

.black{
  color:#000;
}