@charset "utf-8";

@font-face {
font-family: "HanwhaGothicR";
src: 
    local("HanwhaGothicR"),
    url("../font/HanwhaGothic/HanwhaGothicR.ttf") format("truetype"),
    url("../font/HanwhaGothic/HanwhaGothicR.woff") format("woff"),
    url("../font/HanwhaGothic/HanwhaGothicR.woff2") format("woff2");
}

@font-face {
font-family: "HanwhaR";
src: 
    local("HanwhaR"),
    url("../font/Hanwha/HanwhaR.ttf") format("truetype"),
    url("../font/Hanwha/HanwhaR.woff") format("woff"),
    url("../font/Hanwha/HanwhaR.woff2") format("woff2");
}  

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;box-sizing: border-box;line-height: 1.3em;letter-spacing: -0.02em;}

html, body{font-weight:400;font-size: 14px;font-family: 'HanwhaGothicR', sans-serif;color:var(--main-font-color);}
html{scroll-behavior: smooth }
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;}
a{all:unset;box-sizing: border-box;cursor:pointer;}
button{padding:0;margin: 0;font-size: 14px;border:none;background:none;cursor: pointer;font-family: 'HanwhaGothicR', sans-serif;vertical-align: middle;}
button:disabled,
button:disabled:hover{cursor:auto;}
:root {--main-color: #F37321;--main-font-color:#1A1A1A}

/* common */
.hide{text-indent: -9999px;width: 0;height: 0;font-size: 0;line-height: 0;}
.tac{text-align: center !important;}
.tal{text-align: left !important;}
.ellipsis{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;}
.flex-wrap{display: flex;}/* index 만 사용 */
.flex-center{display: flex;flex-direction: column;align-items: center;}
.flex-between{display: flex;justify-content: space-between;align-items: center;}
.txt-error{margin-top: 20px;color: #FF1C00;font-size: 14px;}

/* form */
select{height:30px;border:1px solid #DDDDDD;}
input{appearance:none;-webkit-appearance:none;height: 50px;padding:0 10px;box-sizing: border-box;border: 1px solid #DDD;font-size: 14px;border-radius: 5px;}
input[type="text"]::placeholder,
input[type="password"]::placeholder{color: #DDDDDD;}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="text"]:read-only,
input[type="password"]:read-only{background-color: #F0F0F0;}
input[type="text"]:disabled:focus,
input[type="password"]:disabled:focus,
input[type="text"]:read-only:focus,
input[type="password"]:read-only:focus{outline:none}
input[type="radio"],
input[type="checkbox"]{padding:0;margin: 0;appearance:none;-webkit-appearance:none;background-color:#FFFFFF;background-position: 0 0;background-repeat: no-repeat;border:none}
input[type="radio"]{width:20px;height:20px;border-radius:50%;background-image:url(../img/chk-radio.png);}
input[type="radio"]:checked{background-image: url(../img/chk-radio-checked.png);}
input[type="checkbox"]{width:20px;height:20px;background-image:url(../img/chk-checkbox.png);border-radius: 50%;}
input[type="checkbox"]:checked{background-image: url(../img/chk-checkbox-checked.png);}
input[type="checkbox"]:disabled{background-image: url(../img/chk-checkbox-disabled.png);}
input[type="date"]{padding:0 18px 0 28px}
input[type="date"]::-webkit-calendar-picker-indicator {background: url(../img/icon-calendar.png) no-repeat 100% 50%;width: 24px;height: 24px;}
input[type="date"]:disabled{color: #B3B3B3;}
input[type="date"]:read-only{outline: none;}
.calendar-wrap{display: flex;align-items: center}
.calendar-wrap input{width:180px;border-radius: 5px;}
.calendar-wrap span{width: 50px;text-align: center;line-height: 50px;}
textarea{width:100%;height:100px;padding:10px 30px;box-sizing: border-box;resize:none;border:1px solid #DDD;border-radius:8px;line-height: 1.3em;font-family: 'HanwhaGothicR', sans-serif;}
textarea::placeholder{color: #B3B3B3;}
/* select */
.select-hidden {display: none;visibility: hidden;padding-right: 10px;}
.select {cursor: pointer;/*display: inline-block;*/position: relative;color: #000;width:126px;height:32px;vertical-align: middle;}
.select-styled {position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: #FFFFFF;padding: 0 16px;transition:all 0.2s ease-in;border:1px solid #DDD;width:126px;height:32px;font-size: 14px;border-radius: 17px;line-height: 30px;}
.select-styled:after {content:"";width: 18px;height:18px;background: url(../img/icon-selectbox.png) no-repeat 50% 50%;
position: absolute;top: 50%;right: 15px;transform: translateY(-50%);}
.select-styled.active:after{background-image: url(../img/icon-selectbox-open.png);}        
.select-options {display: none;overflow: hidden;padding:4px 0;position: absolute;top: 36px;right: 0;left: 0;z-index: 99;margin: 0;background: #FFFFFF;border:1px solid #DDD;border-radius:8px;}
.select-options li {position: relative;padding:0 16px;line-height: 34px; font-size: 14px;transition:all 0.15s ease-in;color: #000;height: 34px;margin-top: 4px;}
.select-options li:nth-child(2){margin-top: 0;}
.select-options li:hover, 
.select-options li.is-selected {color:var(--main-color);background: #F4F4F4;color:var(--main-color)}
.select-options li[rel="hide"] {display: none;}
.select.disabled .select-styled{color: #B3B3B3;}
.select.disabled .select-styled:after{opacity: 0.5;}

/* 체크박스, 라디오 그룹 */
.chk-wrap{display: flex;}
.chk-wrap>div{display: flex;align-items: center;margin-left: 30px;}
.chk-wrap>div:first-child{margin-left: 0;}
.chk-wrap input[type="checkbox"],
.chk-wrap input[type="radio"]{margin-left:8px;}
.chk-wrap label{margin-left:8px;}
.chk-wrap>div:first-child input[type="checkbox"],
.chk-wrap>div:first-child input[type="radio"]{margin-left: 0;}

/* 목록 스위치 라디오 */
.switch-wrap{display: flex;justify-content: flex-end;margin-top: 20px;}
.switch {display:inline-block;height: 28px;width:96px;border:1px solid #DDD;border-radius: 14px;background-color: #F0F0F0;}
.switch-label {position: relative;left: -3px;top: 4px;width: 31px;height: 20px;z-index: 2;padding:5px 8px;font-size: 10px;color: #B2B2B2;text-align: center;cursor: pointer;}
.switch-label.switch-label-on{left:-1px;}
.switch-input {display: none;}
.switch-input:checked + .switch-label {background-color:#937B6E;color: #FFFFFF;transition: 0.15s ease-out;border-radius:11px;}
.switch-input:checked + .switch-label-on ~ .switch-selection {left: 60px;margin: 0;}
.switch-selection {position: absolute;z-index: 1;top: 2px;left: 2px;display: block;height: 22px;border-radius: 3px;}
.switch-label.switch-label-on:nth-of-type(2){left: 3px;}

/* 툴팁 */
.tooltip-wrap{position: relative;display: inline-flex;justify-content: center;align-items: center;cursor: pointer;}
.tooltip-wrap:after{content:"";width:20px;height:20px;position: relative;top:-2px;margin-left: 5px;background:url(../img/icon-tooltip.png) no-repeat 0 0/contain;}
.tooltip-wrap .tooltip{position: absolute;right: -38px;top: 20px;z-index:10;text-align: left;width: 130px;transition:opacity ease 0.5s;opacity: 0;visibility: hidden;word-break: auto-phrase;}
.tooltip-wrap:hover .tooltip{opacity: 1;visibility: visible}
.tooltip-wrap .tooltip:after{position: absolute;right: 42px;top: -6px;content:"";display: block;width:12px;height:6px;background: url(../img/bg-tbl-tooltip.png) no-repeat 0 0/contain;}

/* 버튼 */
/* 하단 큰버튼 - 기본 - 긍정 */
.btn{display: inline-flex;align-items: center;justify-content: center;flex:1;height: 36px;min-width: 90px;padding:0 10px;background-color: #937B6E;color: #FFFFFF;border-radius: 4px;}
.btn span{line-height: 36px;}
/* 삭제 */
.btn.bg02{background-color: #D8D8D8 ;color: var(--main-font-color);}/* 하단 삭제버튼 */
.btn:disabled, 
.btn.disabled{background-color: #B3B3B3;}
.btn.bg02:disabled,
.btn.bg02.disabled{background-color: #D8D8D8 !important;color: #999999 !important;}
/* 보더형태 버튼 - 댓글 더보기만 사용 */
.bd-btn{display: flex;align-items: center;height:36px;padding:0 15px 0 20px;border: 1px solid #666;color: #666;border-radius: 18px;}/* 커뮤니티 상세 */
.bd-btn:after{content:"";display: block;width:16px;height:16px;margin-left: 10px;background: url(../img/icon-arr.png) no-repeat 50% 50% / contain;}

/* 하단 큰버튼 레이아웃 */
.btn-wrap{position: relative;display: flex;justify-content: space-between;margin-top:16px;min-height: 37px;}
.btn-wrap > button{position: absolute;left: 50%;transform: translateX(-50%);margin: 0 !important;}
.btn-wrap .btn{margin-left: 10px;} 
.btn-wrap .btn:first-child{margin-left: 0;} 
.btn-wrap .right:only-child{margin-left: auto;}

/* 그리드 상단 버튼 */
.s-btn{display: flex;align-items: center;height: 32px;min-width:50px;width:100%;padding: 0 15px;border-radius: 16px;background:#FFF;color:var(--main-font-color);border: 1px solid #DDD;}
.s-btn.icon:before{content:"";width:18px;height:18px;margin-right: 5px;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;}
.s-btn.icon.excel:before{background-image: url(../img/icon-excel.png);}
.s-btn.icon.pdf:before{background-image: url(../img/icon-pdf.png);}

/* 아이콘 버튼 */
.btn-clean{width:50px;height:50px;background: #000;border-radius: 5px;background: #B3B3B3 url(../img/icon-btn-clean.png) no-repeat 50% 50%;}
.btn-refresh{display: flex;align-items: center;justify-content: center;width:26px;height: 26px;background-color: #937B6E;border-radius:50%;}
.btn-refresh:before{content:"";width:14px;height:14px;background:url(../img/btn-refresh.png) no-repeat 50% 50% / cover;}
.btn-refresh.active:before{animation-name: rotate;animation-delay: 0.1s;animation-duration: 0.6s;animation-fill-mode: forwards;}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.btn-sorting{width:20px;height:20px;background: url(../img/btn-sorting.png) no-repeat 0 0;}
.btn-logout{display: flex;align-items: center;justify-content: flex-start;width: 100%;padding: 20px 16px;margin-left: 4px;font-size: 14px;border-radius: 10px;color:#8D8D8D;}
.btn-logout:before{content:"";width:24px;height:24px;margin-right: 10px;background:url(../img/icon-logout.png) no-repeat 0 0}
.btn-add{width: 24px;height:24px;background: url(../img/btn-add.png) no-repeat 0 0;}
.btn-del{width: 24px;height:24px;background: url(../img/btn-del.png) no-repeat 0 0;}

/* 테이블 버튼 */
.btn-tbl{display:inline-block;/*width: 100%;*/padding: 0 6px;color: #FFFFFF;height:28px;line-height: 28px;border-radius: 14px;background: #333333;min-width:84px;padding:0 17px}
.btn-tbl:disabled{background-color: #B3B3B3 !important;}
.btn-tbl.bg02{background-color: #F37321;min-width:70px}/* 입장 */
.btn-tbl.bg03{background-color: #937B6E;}
.btn-tbl.bg04{background-color: #D8D8D8;color: var(--main-font-color);}
.btn-tbl.bg05{background-color: #F37321;}
.btn-tbl.bg06{background-color: #616A7A;}
.btn-tbl.fix{width:138px;}

/* 페이지 내비게이션 */
.wrap-paging {position: relative;margin-top:30px;}
.btn-wrap + .wrap-paging{margin-top: 16px;}
.wrap-paging .paging{display: flex;justify-content: center;}
.wrap-paging .paging > button{width: 36px;height: 36px;margin-left:6px;font-size: 14px;line-height: 36px;}
.wrap-paging .paging > button.pres{cursor:auto;background:#333;color:#FFFFFF;border: none;border-radius: 10px;}
.wrap-paging .right{position: absolute;right: 0;top: 0;}
.wrap-paging .paging > button.first,
.wrap-paging .paging > button.prev,
.wrap-paging .paging > button.next,
.wrap-paging .paging > button.end {background-position: 50% 50%;background-repeat: no-repeat;}
.wrap-paging .paging > button.first{background-image: url(../img/icon-paging-first.png);}
.wrap-paging .paging > button.prev{background-image: url(../img/icon-paging-prev.png)}
.wrap-paging .paging > button.next{background-image: url(../img/icon-paging-next.png)}
.wrap-paging .paging > button.end{background-image: url(../img/icon-paging-end.png)} 
.wrap-paging .paging > button.prev{margin-right: 20px;}
.wrap-paging .paging > button.next{margin-left: 20px;}
.wrap-paging .paging > button:disabled{opacity:0.3}
.wrap-paging .right{position: absolute;right: 0;top: 0;}

/* 검색영역 */
.wrap-search{border:1px solid #CCCBCB;border-radius: 10px;}
.row-search{display: flex;height:60px;}
.row-search + .row-search dt{border-top: 1px solid #555}
.row-search + .row-search dd{border-top: 1px solid #D1D1D1;}
.row-search + .row-search dl + .btn-search-wrap{border-top: 1px solid #D1D1D1;}
.row-search dl{display: flex;flex:1;height: 60px;}
.row-search dt{display: flex;align-items: center;justify-content: center;height: 60px;width:176px;background-color: #333;font-size: 18px;color: #FFF;}
.row-search:first-child dl:first-child dt:first-child{border-radius: 10px 0 0 0;}
.row-search:last-child dl:first-child dt:first-child{border-radius: 0 0 0 10px;}
.row-search:only-child dl:first-child dt:first-child{border-radius: 10px 0px 0px 10px}
.row-search dd{display:flex;flex:1;padding:10px 15px}
.row-search button{color:#FFFFFF;border-radius: 4px;width:66px;height:36px;line-height: 36px;background-color: #937B6E;}
.row-search .btn-search{width: 90px;background-color: #333333;}
.btn-search-wrap{padding: 0 17px 0 15px;display: flex;align-items: center;gap:0 10px}
.btn-search-wrap button:disabled{background-color: #b3b3b3 !important;}
.row-search input[type="text"],
.row-search input[type="date"]{height: 40px;}
.row-search input[type="text"]{padding-left:23px}
.row-search input[type="text"]:only-child{width: 100%;}
.row-search .select{height:40px;width:178px;}
.row-search .select-styled{height:40px;width:178px;border-radius:4px;padding:0 16px 0 28px;line-height: 40px;}
.row-search .select-options{top:44px;}
.row-search .select-options li{padding:0 28px}
.row-search .select + input[type="text"]{position:relative;left:-2px;border-left:none;border-radius:0 4px 4px 0;flex:1;}
.row-search .select:only-child,
.row-search .select:only-child .select-styled{width:100%}
.row-search .calendar-wrap span{line-height: 40px;}
.row-search .select + .calendar-wrap{margin-left: 22px;}
.row-search .calendar-wrap + .chk-wrap{margin-left: 22px;}
.row-search .calendar-wrap + .chk-wrap > div{margin: 0;}
.row-search .calendar-wrap + .chk-wrap > div input[type="radio"]{display: none;}
.row-search .calendar-wrap + .chk-wrap > div input[type="radio"] + label{display: inline-block;height:40px;box-sizing:border-box;line-height: 24px;padding: 7px 19px;background-color: #FFFFFF;border: 1px solid #DDDDDD;border-left: none;width: 100px;text-align: center;}
.row-search .calendar-wrap + .chk-wrap.type02 > div input[type="radio"] + label{padding: 7px 6px;width:66px}
.row-search .calendar-wrap + .chk-wrap > div:first-child input[type="radio"] + label{border-radius:4px 0 0 4px;border-left: 1px solid #DDDDDD;}
.row-search .calendar-wrap + .chk-wrap > div:last-child input[type="radio"] + label{border-radius:0 4px 4px 0;}
.row-search .calendar-wrap + .chk-wrap > div input[type="radio"]:checked + label{background-image: none;background-color: #616A7A;color: #FFF;}
.row-search .calendar-wrap + .chk-wrap label{margin-left: 0;font-size: 14px;cursor: pointer;}
.row-search.rate6-4 dl:first-child{flex:none;width:calc((100% - 198px) * 0.66)}

/* 테이블 상단 */
.tbl-top{display:flex;justify-content: space-between;align-items: flex-end;padding-bottom:17px;}
.tbl-top .left,
.tbl-top .right{display: flex;align-items: center;}
.tbl-top .right:only-child{margin-left:auto}
.tbl-top .right .s-btn{width:auto;margin-left: 4px;}
.tbl-top .right .select{margin-left: 10px;}
.tbl-top .count{margin-right: 27px;font-size: 18px;}
.tbl-top .count strong{color: var(--main-color);}
.tbl-top .time{margin-left: 10px;}
.tbl-top .sec-title{margin-bottom: 0;}
.tbl-top .sec-title + .count{margin-left:30px;font-size: 15px;}
.tbl-top .chk-wrap{height:34px;padding:4px 20px;border:1px solid #F0F0F0;border-radius: 17px;}
.tbl-top .chk-wrap label{margin-left: 6px;font-size: 14px;line-height: 20px;}
.tbl-top .chk-wrap .num{margin-left: 2px;font-size: 14px;color: var(--main-color);}
.tbl-top .chk-wrap.checked{border-color: var(--main-color);background-color: #FEF4ED;}

/*** 페이지 공통 레이아웃 ***/
/* layout */
#wrap{display: flex;flex-direction: column;}
#container{display:flex;height: 100vh;min-height: 900px;min-width:1800px;}
#left-aside{display: flex;flex-direction: column;justify-content: space-between;position:sticky;left:0;z-index: 100;height: 100vh;min-height: 900px;width:240px;padding:40px 10px 20px 20px;background:#333;}
main{position: relative;scroll-behavior: smooth;/*overflow-y:scroll;*/height: 100vh;flex:1;min-width:0;min-height: 900px;padding:40px;background-color: #EEE;box-sizing: border-box;}

/* 서브레이아웃 */
main .contents{display: flex;flex-direction: column;height:calc(100vh - 137px); padding:40px 60px;background-color: #fff;border-radius: 0 16px 16px 16px;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);min-height: 762px;}
.scroll-area{flex:1;min-height:0;overflow-y: auto;margin-top: 42px;padding-right: 10px;}
.scroll-area::-webkit-scrollbar{height: 2px;width: 2px;background: transparent;}
.scroll-area::-webkit-scrollbar-thumb{background: rgba( 221, 221, 221, 0.7);border-radius:1px}
.scroll-area::-webkit-scrollbar-corner {background: #000;}
.scroll-area:first-child{margin-top: 0;}
.scroll-area section:first-child{margin-top: 0;}
.contents > section:first-child{margin-top: 0;}
.contents > .tbl-style02 + .scroll-area{margin-top: 21px;}

section{margin-top: 48px;}
.sec-title{display: flex;justify-content: space-between;align-items: center;margin-bottom: 18px;font-size: 18px;}
.wrap-search + section{margin-top: 42px;}

/* 타이틀 공통 */
.title-wrap{display:flex;justify-content: space-between;align-items: flex-start;position: relative;z-index: 101;top:1px}
.title-wrap > .title{position: relative;left:-3px;width: 384px;height:57px;padding:33px 0 0 60px;font-size: 24px;background: url(../img/bg-title.png) no-repeat 0 0;}
.title-wrap .util{display: flex;align-items: center;gap:0 26px;margin-right: 17px;}

/* 내비게이션 */
.bread-crumb ul{display: flex;align-items: center;}
.bread-crumb li{display: flex;align-items: center;flex:none}
.bread-crumb li:before{content: "";width:16px;height:16px;padding:0 6px;flex:none;background: url(../img/icon-bread-arr.png) no-repeat 50% 50%;}
.bread-crumb li:first-child:before{display: none;}

/* 레이어팝업 */
.dim{display:none;position: absolute;left: 0;top:0;z-index: 102;width: 100%;background-color: rgba(0,0,0,0.7);height: 100vh;box-sizing: border-box;}
.dim.active{display: block;}
.dim .inner{display:flex;height:100%;justify-content: center;align-items: center;}
.layer-pop{position: relative;width:380px;box-sizing: border-box;text-align: center;border-radius: 16px;}
.layer-pop.wt450{width:450px;}
.layer-pop.wt480{width:480px;}
.layer-pop .pop-top{min-height:152px;padding:40px 30px 30px;border-radius: 16px 16px 0 0;background-color: #fff;}
.layer-pop .pop-title{font-size: 22px;}
.layer-pop .pop-cont{min-height: 82px;display: flex;align-items: center;justify-content: center;flex-direction: column}
.layer-pop .pop-cont > *{width: 100%;}
.layer-pop .pop-cont > .txt-left{padding: 18px 0;text-align: left;}
.layer-pop .pop-title + .pop-cont{min-height: 0;margin-top: 17px;}
.layer-pop .pop-cont > p:only-child{font-size: 16px;color: #333;text-align: center;}
.layer-pop .pop-cont input[type="text"]{width:100%;height: 44px;}
.layer-pop .pop-cont .txt + input{margin-top: 16px;}
.layer-pop .pop-btn-wrap{display: flex;justify-content: center;border-radius: 0 0 16px 16px;}
.layer-pop .box{padding:16px 17px;border: 1px solid #DDD;background-color: #F4F4F4;border-radius: 4px;}
.layer-pop .pop-cont .chk-wrap + .chk-wrap{margin-top: 10px;}
.layer-pop .pop-cont .chk-wrap{justify-content: flex-start}

.s-btn-pop{height:28px;min-width: 70px;background-color: #333;border-radius: 14px;padding: 0 6px;color: #FFF;}

.btn-pop{flex:1;height:60px;font-size: 20px;color: #FFF;background-color: #937B6E;}
.btn-pop:first-child{width:40%;flex:none;border-radius: 0 0 0 16px;}
.btn-pop:last-child{border-radius: 0 0 16px 0;}
.btn-pop:only-child{flex:none;width:100%;border-radius: 0 0 16px 16px;}
.btn-pop:focus{outline:none}
.btn-pop.bg02{background-color: #D8D8D8;color: #1A1A1A;}
.btn-pop:disabled{background-color: #B3B3B3;}
.btn-pop.bg02:disabled{background-color: #D8D8D8 !important;color: #999999 !important;}
.btn-pop-close{position: absolute;right:17px;top:17px;width:20px;height:20px;background: url(../img/btn-pop-close.png) no-repeat 0 0/contain;}
.layer-pop .pop-btn-wrap .page{padding-bottom: 40px;background: #FFF;width: 100%;border-radius: 0 0 16px 16px;}
.layer-pop.no-btn .pop-top{border-radius:16px}/* 관리자 음악업로드 */

/* 팝업 이전, 다음 페이징 */
.page{display: flex;justify-content: center;align-items: center;}
.page > button{width: 30px;height: 30px;margin-left:4px;font-size: 12px;line-height: 30px;}
.page .pres{font-size: 16px;color: #666666;}
.page .pres strong{color: #000;}
.page > button.prev{margin-right: 20px;}
.page > button.next{margin-left: 20px;}
.page > button.prev,
.page > button.next{background-position: 50% 50%;background-repeat: no-repeat;}
.page > button.prev{background-image: url(../img/icon-page-prev.png)}
.page > button.next{background-image: url(../img/icon-page-next.png)}
.page > button:disabled{background-color: #fff !important;}
.page > button.prev:disabled{background-image: url(../img/icon-page-prev-disabled.png)}
.page > button.next:disabled{background-image: url(../img/icon-page-next-disabled.png)}

/* 로딩스피너 */
.loader-dim{display:none;position: absolute;left: 0;top:0;z-index: 103;width: 100%;background-color: rgba(0,0,0,0.7);height: 100vh;box-sizing: border-box;}
.loader-dim.active{display: block;}
.loader-dim .inner{display:flex;height:100%;justify-content: center;align-items: center;}
.loader {width: 48px;height: 48px;border: 5px solid #FFF;border-bottom-color: var(--main-color);border-radius: 50%;display: inline-block;box-sizing: border-box;animation: rotation 1s linear infinite;}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

/* 그리드 */
table .tal > a:hover{text-decoration: underline;}
.tbl-style01{border-top: 1px solid #A49C97;}
.tbl-style01 th,
.tbl-style01 td{height:44px;padding:8px 10px 7px;vertical-align: middle;text-align: center;line-height:1.3em;word-break: keep-all;}
.tbl-style01 th{border-bottom: 1px solid #DDDDDD;background:#F3EEEC;color: #444;}
.tbl-style01 td{border-bottom: 1px solid #DDDDDD;color: var(--main-font-color);}
.tbl-style01 td.tal{padding-left: 30px;}
.tbl-style01 td.tal a{display: block;max-width:90%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;}
.tbl-style01 td.new a,
.tbl-style01 td.file a{display: flex;}
.tbl-style01 td.bold a{font-weight: 600;}
.tbl-style01 td.new a span,
.tbl-style01 td.file a span
{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;max-width:95%;}
.tbl-style01 td.new a:after,
.tbl-style01 td.file a:after{flex:none;content:"";width:19px;height:19px;margin-left: 10px;background:url(../img/icon-file.png) no-repeat 50% 0;position: relative;top:1px}
.tbl-style01 td.new a:after{background-image: url(../img/icon-new.png);}
.tbl-style01 td.file.new a span:after{display: inline-block;vertical-align:middle;content:"";width:19px;height:18px;margin-left: 10px;background:url(../img/icon-file.png) no-repeat 50% 50%;position: relative;top:1px}
.tbl-style01 .no-result{margin: 50px;padding-top: 50px;color: #666;background: url(../img/bg-no-result.png) no-repeat 50% 0;}
.tbl-style01 .select{display:inline-block;text-align: left;}
.tbl-style01 .select-styled{width:100%}
.tbl-style01 .state{color: #FF1C00;}/* 상담결과 값 */
.tbl-style01 .state.comp{color: #0038FF;}/* 상담결과 값 */
.tbl-style01 .bottom-fix td{background-color: #F5F5F5;}/* 하단고정 */
.tbl-style01 .tooltip-wrap:after{width:14px;height:14px;background-image:url(../img/icon-tbl-tooltip.png);}
.tbl-style01 .tooltip-wrap .tooltip{right: -41px;top: 22px;padding: 7px 10px;font-size: 12px;color: #FFF;background-color: #000;border-radius: 10px;word-break:break-all}
.tbl-style01 .tooltip-wrap .tooltip:after{right: 42px;top: -6px;width:12px;height:6px;background-image: url(../img/bg-tbl-tooltip.png)}
.tbl-style01 td .fix{height:24px;width:24;position: relative;color:transparent}
.tbl-style01 td .fix:after{position: absolute;left:50%;top:50%;transform:translate(-50%, -50%);content:"";display: block;width:24px;height:24px;background: url(../img/icon-td-pin.png) no-repeat 0 0/contain;}
.tbl-style01 .bdl{border-left: 1px solid #DDD}

/* 그리드 헤더 두줄 */
.tbl-style01.type02 th{height: 34px;padding:7px 10px;}
.tbl-style01.type02 th.bd{border-left: 1px solid #DDD;}

/* 공유커뮤니티 */
.tbl-style02{border:1px solid #CCCBCB;border-radius: 10px;}
.tbl-style02 th, .tbl-style02 td{height: 58px;vertical-align: middle;border-top: 1px solid #D1D1D1;}
.tbl-style02 th{font-size: 18px;background-color: #E6E6E6;}
.tbl-style02 td{padding:20px 45px;}
.tbl-style02 td .category {color: #937B6E;}
.tbl-style02 tr:first-child th, 
.tbl-style02 tr:first-child td{border-top: none}
.tbl-style02 tr:first-child th:first-child{border-radius: 10px 0 0 0;}
.tbl-style02 tr:last-child th:first-child{border-radius: 0 0 0 10px;}
.tbl-style02 tr:only-child th:first-child{border-radius:10px 0 0 10px}
.tbl-style02 .chk-wrap label{font-size: 14px;}
.tbl-style02 .required:after{content: "*";display: inline-block;color:#F15B47}
.tbl-style02 div + .chk-wrap{margin-top: 5px;}/* 공지사항 등록 */
.tbl-style02.type02 td{padding: 10px 16px;}/* 공지사항 등록 */
.tbl-style02.type02 div + .chk-wrap{margin-top: 12px;}/* 공지사항 등록 */

/* 테이블 (오늘상담현황) */
.tbl-style03{border: 1px solid #B9B4B0;}
.tbl-style03 th,
.tbl-style03 td{height:52px;padding:5px 10px;vertical-align: middle;text-align: center;line-height:1.3em}
.tbl-style03 th{border-bottom: 1px solid #DDDDDD;background:#F3EEEC;color: #444;}
.tbl-style03 th,
.tbl-style03 td{border-right: 1px solid #B9B4B0;}
.tbl-style03 th + td{border-bottom: 1px solid #DDD;}
.tbl-style03 th:last-child,
.tbl-style03 td:last-child{border-right: none;}
.tbl-style03{border-left: 1px solid #A49C97;}
.tbl-style03 strong{font-size: 18px;}

/* 세로형 테이블 (상담이력 관리) */
.tbl-style04{border: 1px solid #B9B4B0;border-top: none;}
.tbl-style04 th,
.tbl-style04 td{height:44px;padding:5px 10px;vertical-align: middle;text-align: center;line-height:1.3em;border-right: 1px solid #DDD;}
.tbl-style04 th{border-top: 1px solid #B9B4B0;border-bottom: 1px solid #DDDDDD;background:#F3EEEC;color: #444;}
.tbl-style04 thead th{border-bottom:1px solid #DDD !important;}
.tbl-style04 td{border-top: 1px solid #DDD;}
.tbl-style04 th + td{border-bottom: 1px solid #DDD;}
.tbl-style04 tr:first-child td{border-top: 1px solid #B9B4B0;}
.tbl-style04 th:last-child,
.tbl-style04 td:last-child{border-right: none;}
.tbl-style04 tr:last-child th,
.tbl-style04 tr:last-child td{border-bottom: none}
.tbl-style04 .chk-wrap{display: inline-flex;height:33px;}
.tbl-style04 .select{display: inline-block;text-align:left}

table th:first-child input[type="checkbox"],
table td:first-child input[type="checkbox"]{position: relative;top:3px;}
.tbl-style02 table th:first-child input[type="checkbox"]{top:0}

/* table 내부 진행단계 */
.list-process{display: inline-flex;gap: 0 4px;}
.list-process li{width:60px;height:28px;line-height:28px;border-radius:4px;color:#FFFFFF;background-color: #B3B3B3;}
.list-process li.comp{background-color: #616A7A;}

.wrap-search + .con-calendar{margin-top: 40px;}
/*.con-calendar{margin-bottom: 10px;}*/

.c-header{display: flex;align-items: center;justify-content: center;}
.c-header div{padding: 0 30px;font-size: 22px;}
.c-header button{width:32px;height:32px;border-radius: 8px;background: #333 url(../img/icon-calendar-prev.png) no-repeat 50% 50%;}
.c-header button.next{background-image: url(../img/icon-calendar-next.png);}
.c-header button:disabled{opacity: 0.5;}
.c-body .area{display: none;flex:1;min-height: auto;}
.c-body .area.active{/*display: block;*/display: flex;flex-direction: column;}
.c-body .area .graph-area{margin-top: 0;}
.btn-calendar-wrap{display: flex;border: 1px solid #DDD;border-radius: 16px;}
.btn-calendar-wrap button{width: 80px;height:32px;border-left: 1px solid #DDD;}
.btn-calendar-wrap button.active{background-color: #616A7A;color: #FFF;}
.btn-calendar-wrap button:first-child{border-radius: 16px 0 0 16px;}
.btn-calendar-wrap button:last-child{border-radius: 0 16px 16px 0;}
/* 상담예약 현황 - 예약안내상태 */
.state-reserve{display: flex;gap:14px;justify-content: center}
.state-reserve li{flex:none;width: 38px;height: 38px;padding: 7px 0;border-radius: 50%;font-size: 11px;text-align: center;background-color: #DEE3EE;color: #444;line-height: 1.1;}
.state-reserve li.comp{background-color: #616A7A;color: #FFF;}

.tbl-fix th,
.tbl-fix td{height:52px;padding:5px 10px;vertical-align: middle;text-align: center;line-height:1.3em;border-right: 1px solid #B9B4B0;}
.tbl-fix th{height: 44px;border-top: 1px solid #B9B4B0;border-bottom: 1px solid #DDDDDD;background:#F3EEEC;color: #444;}
.tbl-fix tbody tr{border-bottom: 1px solid #DDD;}
.tbl-fix tbody td{height: 48px;}
/*.tbl-fix th + td{border-bottom: 1px solid #DDD;}*/
.tbl-fix th:first-child,
.tbl-fix td:first-child{border-left: 1px solid #B9B4B0;}
.tbl-fix th:last-child,
.tbl-fix td:last-child{border-right: 1px solid #B9B4B0;}
.tbl-fix tr:last-child td{border-bottom: 1px solid #B9B4B0;}
.tbl-fix thead,
.tbl-fix tbody{display: block;width: 1480px;}
.tbl-fix tbody{overflow-y: auto;}
.tbl-fix tbody::-webkit-scrollbar{height: 2px;width: 2px;background: transparent;}
.tbl-fix tbody::-webkit-scrollbar-thumb{background: rgba( 221, 221, 221, 0.7);border-radius:1px}
.tbl-fix tbody::-webkit-scrollbar-corner {background: #000;}
.tbl-fix.pd2 thead{padding-right: 2px;}
.tbl-fix a{text-decoration: underline; color: #0038FF;}
.tbl-fix.day th{width:calc((1478px - 482px) / 5)}
.tbl-fix.day th:first-child{width:180px;}
.tbl-fix.day th:nth-child(6){width:302px;}
.tbl-fix.day td{width:calc((1480px - 482px) / 5)}
.tbl-fix.day td:first-child{width:180px;}
.tbl-fix.day td:nth-child(6){width:302px;}
.tbl-fix.day td.no-space{padding: 0;}
.tbl-fix.day .state{display: block;height: 48px;line-height: 48px;background-color: #F8F8F8;}
.tbl-fix.day .state.st02{background-color: #FDEDE2;}
.tbl-fix.day .state.st03{background-color: #FDF0F1;}
.tbl-fix.day .state.st04{background-color: #E2F4FA;}
.tbl-fix.week thead th,
.tbl-fix.week tbody td{width:calc(1478px / 6)}
.tbl-fix.week .today{background-color: #937B6E;color: #FFF;}
.tbl-fix.week .note{color: #FF1C00;}
.tbl-fix.week tr.peak-time{background-color: #F5F5F5;}
.tbl-fix.week tr.peak-time td{height: 93px;;background: #F5F5F5;}
.tbl-fix.month thead th,
.tbl-fix.month tbody td{width:calc(1478px / 5)}
.tbl-fix.month tbody td{height:96px;padding:12px 25px 10px 35px}
.tbl-fix.month tbody td > div{display: flex;height: 69px;flex-direction: column;justify-content: space-between;}
.tbl-fix.month tbody td.today{background-color: #E2F4FA;}
.tbl-fix.month tbody td.holiday{background-color: #F5F5F5;}
.tbl-fix.month tbody td .date{font-size: 18px;text-align: left;color: #666;}
.tbl-fix.month tbody td .link{font-size: 16px;text-align: right;}

/* 공지사항 등록 */
.upload-box .filebox{display: flex;flex-direction: column;margin: 0;}
.upload-box .filebox label{display: flex;align-items: center;cursor: pointer;}
.upload-box .filebox label:before{content: "";display: block;width:22px;height:26px;background: url(../img/icon-attach.png) no-repeat 50% 50% / contain;}
.upload-box .filebox .list-file:first-child{margin-top: 0;}
.upload-box .no-result{height: 42px;display: flex;align-items: center;color: #DDD;}

/* 댓글 */
.reply-area{margin-top:16px;}
.reply-area>.count{font-size: 16px;}
.reply-area>.count span{color: var(--main-color);}

/* 댓글영역 공통 */
.reply-area .info{display: flex;align-items: center;gap:0 5px;margin-top: 0;}
.reply-area .info img{width:32px;height:32px;border-radius: 50%;}
.reply-area textarea{flex: 1;min-width: 0;border:none;height:38px;padding: 0;border-radius:0}
.reply-area textarea:focus{outline:none}
.reply-area .txt-count{margin-left:15px;color:#333}
.reply-area .write button{width:90px;margin-left: 10px;flex:none}

.reply-area .cont .textarea{position: relative;display: none;margin-top: 10px;}
.reply-area .cont .textarea textarea{height:58px;padding:10px 110px 10px 10px;border: 1px solid #CCCBCB;border-radius: 10px;vertical-align: middle;}
.reply-area .cont .textarea .btn{position: absolute;right: 10px;top:10px}
.reply-area .cont.modify .value{display: none;}
.reply-area .cont.modify .textarea{display: block;}

.box-write-reply{display: flex;flex-direction: column;padding:20px 30px;}
.box-write-reply .write-reply{margin-top: 0;}
.btn-fold-reply{display: flex;align-items: center;justify-content: center;margin-top:17px}
.btn-fold-reply:after{content: "";display: block;width:12px;height:12px;margin-left: 9px;background: url(../img/icon-arr-open.png) no-repeat 50% 50% / contain;}

.write-reply{display: flex;flex-direction: column;margin-top: 12px;padding:17px 21px;background-color: #FFF;border: 1px solid #CCCBCB;border-radius: 10px;}
.write-reply .write{display: flex;align-items: flex-end;margin-top: 8px;}
.write-reply .info img{width:24px;height:24px;}

.board-comment{margin-top: 30px;}
.board-comment>ul{border-top: 1px solid #8A8888}
.board-comment>ul>li{border-bottom: 1px solid #F0F0F0;}
.board-comment>ul>li>.comment{padding:18px 21px}
.board-comment .comment{position: relative;}
.board-comment .comment .cont{padding-top: 14px;}
.board-comment .btns{position: absolute;right: 40px;top: 18px;}
.board-comment .btns button{width:39px;height:28px;margin-left:10px;border:1px solid #666;border-radius:4px;font-size: 12px;color: #666; }

/* 답글 */
.wrap-reply .count{padding:0 21px 14px}
.wrap-reply .count span{margin-left:4px;color: var(--main-color);}
.wrap-reply .area-reply{display: none;background-color: #F5F5F5;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;}
.wrap-reply .area-reply.show{display:block}
.wrap-reply .comment li{position: relative;padding:20px 60px;border-top: 1px solid #FFFFFF;background-color: #F9F9F9;}
.wrap-reply .comment li:first-child{border-top: none}
.area-reply .btns{right:0;top:0;}
.board-read.write + .chk-wrap{margin-top: 20px;}
.reply{padding:18px 38px;border-top: 1px solid #DDDDDD;}

.filebox{margin: 30px 0 20px;}
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;border: 0;}
.filebox label {display: block;width: 100%;color: #999;}
.filebox label:before{content:"";display: inline-block;width:24px;height:24px;margin-right: 10px;background: url(../img/btn-upload.png) no-repeat 0 0;vertical-align: middle;}
/* named upload */
.filebox .upload-name {display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;width:100%;margin-top: 10px;
font-size: 16px;text-decoration: underline;background-color:transparent;border: none;-webkit-appearance: none;appearance: none;color: var(--main-color);}
.list-file{margin-top: 15px;}
.list-file ul{margin-top: 5px;}
.list-file li{display: flex;align-items: center;line-height: 20px;margin-top: 5px;}
.list-file li:first-child{margin-top: 0;}
.list-file a{color: #333;text-decoration: underline;}
.list-file a span{font-size: 12px;color: #B3B3B3;}
.list-file .fade{color:#B3B3B3}
.list-file button{margin-left: 10px;}
.list-file .tit .notice{display: inline-block;margin-left: 10px;color: #937B6E;}
.btn-file-del{width:20px;height:20px;background: url(../img/btn-file-del.png) no-repeat 0 0;}
.btn-file-down{width:24px;height:24px;background: url(../img/btn-file-download.png) no-repeat 0 0;}

/* 상세 */
.board-read{display: flex;flex-direction: column;flex: 1;min-height: 0;}
.board-read .board-cont{display: flex;flex-direction: column;flex: 1;min-height: 200px;}
.board-read .scroll-area{display: flex;flex-direction: column;margin-top: 0;}
.board-read > .scroll-area{margin-top: 20px;}
.board-read .scroll-area .board-cont{min-height: auto;margin-top: 0;}
.board-cont{margin-top:20px;padding:20px;font-size: 16px;border-top: 1px solid #8A8888;border-bottom: 1px solid #DDD;}
.board-cont img{max-width: 100%;}
.scroll-area .board-read .board-cont{margin-top: 0;}
.board-cont + .tbl-style02{margin-top: 20px;}/* 상세화면 첨부파일영역 */
.board-cont + .tbl-style02 td{height: 135px;padding-top:0;padding-bottom: 0;}

.board-attach dl{display: flex;}
.board-attach dt{width:140px;height:40px;line-height: 40px;background-color: #FEF4ED;border-radius: 10px;text-align: center;}
.board-attach dd{flex:1;min-width:0;min-height:40px;padding-left: 20px;line-height: 40px;}
.board-attach dd a{color: var(--main-color);font-size:16px;}
.board-attach dd a:hover{text-decoration: underline;}
.board-read.write input{width: 100%;height: 90px;padding: 30px 40px;border-radius: 20px;font-size: 24px;}

.form-edit{display: flex;flex-direction: column;height:calc(100vh - 200px)}
.area-edit{display: flex;flex-direction: column;flex:1;min-height: 0;height: 100%;margin-top: 20px;}
.area-edit + .tbl-style02{margin-top: 20px;}
.area-edit + .tbl-style02 td{height: 156px;padding-top:0;padding-bottom: 0;}

/* 에디터 */
.quillWrapper{display: flex;flex-direction: column;flex: 1;min-height: 0;}
.quillWrapper .ql-snow.ql-toolbar{border-left:none;border-right:none;border-top-color: #8A8888;border-bottom-color: #DDD;}
.ql-toolbar.ql-snow+.ql-container.ql-snow{display: flex;flex-direction: column;flex: 1;min-height: 0;border: none;border-bottom: 1px solid #DDD;}
.ql-editor::-webkit-scrollbar{height: 2px;width: 2px;background: transparent;}
.ql-editor::-webkit-scrollbar-thumb{background: rgba( 221, 221, 221, 0.7);border-radius:1px}
.ql-editor::-webkit-scrollbar-corner {background: #000;}
.area-edit .ql-editor{max-height:395px}

/* 상담이력 상세 */
.memo-wrap{position: relative;padding: 25px 42px;border: 1px solid #CCCBCB;border-radius: 10px;background: #FFF;}
.memo-wrap li{padding-top: 9px;}
.memo-wrap li:first-child{padding-top: 0;}
.memo-wrap li:last-child .input-wrap{margin-bottom: 0;}
.memo-wrap .date{color: #999;}
.memo-wrap .btn{width: 66px;height: 40px;min-width: 0;flex:none}
.memo-wrap > .btn{position: absolute;right: 82px;bottom: 25px;}
.memo-wrap .input-wrap{width:100%;display: flex;gap:10px;}
.memo-wrap .input-wrap input{width:calc(100% - 116px);height: 40px;padding-left: 23px;}
.memo-wrap > .input-wrap{margin-top: 7px;}

/* 스크롤 영역 변경 */
/* .scroll-area > section > .tbl-top + .tbl-style01 + .wrap-paging 구조 */
.scroll-area.type02{display: flex;flex-direction:column;overflow: initial;margin-top: 24px;padding-right: 0;}
.scroll-area.type02 > section,
.scroll-area.type02 > section > .tbl-style01{display: flex;flex-direction:column;flex:1;min-height:0;overflow-y: auto;}
.scroll-area.type02 > section > .tbl-style01::-webkit-scrollbar{height: 2px;width: 2px;background: transparent;}
.scroll-area.type02 > section > .tbl-style01::-webkit-scrollbar-thumb{background: rgba( 221, 221, 221, 0.7);border-radius:1px}
.scroll-area.type02 > section > .tbl-style01::-webkit-scrollbar-corner {background: #000;}
.scroll-area.type02 > section > .tbl-style01 + .wrap-paging{margin-top: 19px;}

/* 헤더고정 - 상담자료관리 */
.tbl-style01.header-fix{flex:1;min-height: 0;overflow-y: auto;}
.tbl-style01.header-fix::-webkit-scrollbar{height: 2px;width: 2px;background: transparent;}
.tbl-style01.header-fix::-webkit-scrollbar-thumb{background: rgba( 221, 221, 221, 0.7);border-radius:1px}
.tbl-style01.header-fix::-webkit-scrollbar-corner {background: #000;}
.tbl-style01.header-fix table{border-collapse: separate;}
.tbl-style01.header-fix thead{ position: sticky; top: 0;z-index: 102;}