@font-face {
    font-family: "Belwe";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/belwe/BelweMediumBT.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BelweLT";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/belwe/BelweLightBT.ttf") format("truetype");
  }